*{
    box-sizing:border-box
}

html {
    width: 100%;
    height: 100%;
}
body {
   width:100%;
   height:100%;
   font:14px arial 400;
}

h1{
    color:red
}

.carousel-item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size:auto;
    height:30vh;
}


@carousel-transition-duration: .6s;